.comments-section h3 {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 15px;
  background-color:#80808027;
}

.comments-section {
  padding-bottom: 15px;
  margin: 10px;
  background-color: #bdbdbd10;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.comments-section input[type='text'] {
  width: 80%;
}

.comments-section button {
  margin: 10px;
}

button.add-comment-button {
  margin-top: 15px;
}

@media all and (min-width:800px) {
  .comments-section {
    margin: 35px;
  }
  .comments-section input[type='text'] {
    width: 50%;
  }
}