.exercise-name {
  font-size: 25px;
}

.details {
  margin-bottom: 75px;
  margin-top: 45px;
}

.exercise-item:hover {
  background-color: rgb(226, 226, 226);
}

.exercise-item button {
  margin: 25px auto 30px auto;
}

.exercise-item hr {
  height: 1px;
  background-color: #87a0989d;
  border: none;
}

.exercise-item .group {
  margin-top: 45px;
}

.details {
  background-color: rgb(236, 255, 249);
  box-shadow: 12px 5px 12px 15px #334b4356;
}

.exercise-item div.item {
  max-height: 500px;
  align-content: center;
  justify-content: center;
}

.exc-vid {
  align-self: center;
  justify-self: center;
  vertical-align: middle;
  margin: auto 5px;
}