.exercise-item {
  position: relative;
}

.details {
  margin-bottom: 75px;
  padding-top: 15px;
}

.close-ex {
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px 15px;
}

.exercise-item h4 {
  margin: 0;
  padding: 10px;
}

.exercise-item:hover {
  background-color: rgb(226, 226, 226);
}

.exercise-item hr {
  height: 1px;
  background-color: #87a0989d;
  border: none;
}

.exercise-item .group {
  margin-top: 45px;
}

.details {
  background-color: rgb(236, 255, 249);
  box-shadow: 12px 5px 12px 15px #334b4356;
}

.exercise-item div.item {
  align-content: center;
  justify-content: center;
}

.exc-vid {
  align-self: center;
  justify-self: center;
  vertical-align: middle;
  margin: auto 5px;
}

.exercise-item img {
  max-height: 500px;
}