.CreateExercise form {
  background-color: #0000000c;
  width: 95%;
  margin: auto;
  padding: 20px 1px;
  border-radius: 10px;
}

.CreateExercise form div label {
  text-align: left;
  display: inline-block;
  width: 150px;
}

.CreateExercise button {
  margin-top: 15px;
}

@media all and (min-width: 800px) {
  .CreateExercise form {
    width: 65%;
    padding: 20px;
  }
}