.landing-page-descs-c, .l-p-d .item-double {
  flex-direction: column;
}

.l-p-d {
  flex-direction: row;
}

.lp-clients, .lp-providers {
  font-weight: bold;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

.lp-clients {
 color: white;
 background-image: url('../../images/home-ex.png');
}

.lp-providers {
 background-image: url('../../images/on-a-computer-filtered.png');
}

.lp-providers h2 {
  background-color: rgb(255, 231, 14);
}

.lp-clients h2 {
  color: white;
  background-color: rgb(0, 124, 114);
}

.l-p-d .item-double {
  align-content: center;
  justify-content: center;
}

.landing-page-descs-c h2 {
  text-orientation: upright; 
  writing-mode: vertical-lr;
  text-align: center;
  display: inline;
}

h2.small-item {
  flex: .2;
  margin: 0;
  padding: 20px 10px 20px 25px;
}

.dash-button, .login {
  min-height: 300px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.dash-button {
  min-width: 250px;
}

.dash-button button, .login form, .login .loading {
  align-self: center;
  min-height: 50px;
}

@media all and (min-width: 800px) {
  .lp-clients, .lp-providers {
    min-height: 400px;
  }
  .login {
    padding-bottom: 150px;
  }
}