.landing-page-descs-c, .l-p-d .item-double {
  flex-direction: column;
}

.l-p-d {
  flex-direction: row;
}

.lp-clients, .lp-providers {
  font-weight: bold;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

.lp-clients p, .lp-providers p {
  font-size: 20px;
}

.lp-clients {
 color: white;
 background-image: url('../../images/home-ex.png');
}

.lp-providers {
 background-image: url('../../images/on-a-computer-filtered.png');
}

.login {
  background-image: url('../../images/dark-leaves.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.login form, .login .loading {
  color: white;
  background-color: #4b4b4b1a;
  padding: 25px;
  backdrop-filter: blur(4px);
  border: 1px solid transparent;
  border-image: linear-gradient(to top right, rgb(83, 187, 123) , #2247312f, yellow);
  border-image-slice: 1;
  border-radius: 10px;
  box-shadow: 0px 5px 12px 10px #00000034;
}

.small-item {
  display: flex;
  padding: 10px;
}

.lp-providers .small-item {
  background-color: rgb(255, 231, 14);
}

.lp-clients .small-item {
  color: white;
  background-color: rgb(0, 124, 114);
}

.l-p-d .item-double {
  align-content: center;
  justify-content: center;
}

.landing-page-descs-c h2 {
  text-orientation: upright; 
  writing-mode: vertical-lr;
  text-align: center;
  display: inline;
}

h2.small-item {
  flex: .2;
  margin: 0;
  padding: 20px 10px 20px 25px;
}

.login {
  min-height: 300px;
  display: flex;
  align-content: center;
  justify-content: center;
}

@media all and (min-width: 800px) {
  .lp-clients, .lp-providers {
    min-height: 400px;
  }
  .login {
    padding-bottom: 150px;
  }
}