.LoginForm button {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.LoginForm button.demo {
  color: white;
  transition: 1s;
  font-weight: lighter;
  font-size: 15px;
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;
}

form.LoginForm, .loading {
 align-self: center;
}

.loading h3 {
  font-weight: normal;
  color: #ffffffd5;
  margin: 0;
  margin-bottom: 35px;
  padding: 10px;
}

.loading img {
  box-shadow: 0px 0px 15px 17px #ffffff;
}

.login .loading {
  width: 250px;
  height: 250px;
}