.single-comment p {
  text-align: left;
  margin-left: 15px;
}

.single-comment {
  position: relative;
  margin: 15px;
  padding: 10px;
  text-align: right;
  background-color: #a7a7a73b;
  border-radius: 10px;
}

.single-comment span {
  margin: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.date {
  color: grey;
  font-style: italic;
}

.SubmitCommentForm form {
  padding-top: 10px;
  margin-top: 10px;
}

.single-comment button, .SubmitCommentForm button {
  background-color: rgb(0, 189, 214);
}

.single-comment button:hover, .SubmitCommentForm button:hover {
  background-color: rgb(250, 218, 38);
}


@media all and (min-width: 800px) {
  .comment-buttons {
    position: absolute;
    top: 0;
    right: 0;
  }
}