.App {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
}

main {
  position: relative;
  min-height: 62vh;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

input[type='text'], input[type='password'] {
  padding: 5px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
  transition: 1s;
}

a:hover {
  color: #17b7d3;
  letter-spacing: 2px;
  transition: 1s;
}

.loading img {
  width: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

main .error {
  padding: 40px;
}

main .error a {
  display: block;
}

button {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #006983;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  border: none;
  background-color: #054d5f;
}

button:active, button:focus {
  border: 2px;
  color: #054d5f;
  background-color: white;
}

button.edit-button, .create-ex {
  position: absolute;
  margin: -15px 15px 0 0;
  top: 0;
  right: 0;
  z-index: 100;
}

@media all and (min-width: 600px) {
  .group {
    flex-direction: row;
  }
  button.edit-button, .create-ex {
    margin: -15px 25px 0 0;
  }
  label {
    display: inline;
  }
}