.clients-header {
  color: white;
  background-color: #007c72;
}

.exercises-header, .clients-header {
  margin: 0 0 15px 0;
  padding: 15px;
}

.exercises-header {
  background-color: #17b7d370;
}

.dash-item {
  background-color: #86878a13;
}

@media all and (min-width: 600px) {
  .dash-view {
    margin-top: 25px;
  }
  
  .dash-item {
    margin: 15px;
    border-radius: 15px;
  }

  .dash-name {
    text-align: left;
    margin-left: 35px;
    margin-top: 15px;
  }
}