.ViewExercise {
  margin-top: 1px;
}

.ViewExercise h2 {
  padding-top: 35px;
}

.comments {
  margin-top: 20px;
}

.comments ul {
  padding-left: 0;
}

.comments li {
  list-style-type: none;
}

@media all and (min-width: 800px) {
  .ViewExercise {
    margin-top: 45px;
  }
  .ViewExercise h2 {
    padding-top: 15px;
  }  
}