.EditUser button {
  display: block;
  margin: 15px auto;
  background-color: rgb(0, 189, 214);
}

.EditUser button:hover {
  background-color: rgb(30, 151, 0);
  color: white;
}

.permissions {
  background-color: #c9c9c95d;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  padding: 5px;
}

button.admin {
  background-color: rgb(218, 75, 18);
}

button.provider {
  background-color: rgb(255, 230, 0);
  color: black;
}

.EditUser form {
  margin-bottom: 15px;
}

@media all and (min-width:800px) {
  .permissions {
    width: 40%;
  }
}